html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  user-select: none;
}

.flexboxContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  min-width: 110rem;
  // background: #02a30a;
  max-width: 130rem;
  margin:0 auto;
}

.flexboxContainer.flex-direction-column {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex-align-items-flex-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

// .flexboxItem {
//   width: 10rem;
//   background-color: #b94a48;
//   color: #fff;
  // border: 1px dashed #333;
//   padding: 1rem;
//   text-align: left;
// }

.flexboxItem-left {
  color: rgb(12, 12, 12);
  padding: 1rem;
  text-align: left;
}

.flexboxItem-center {
  color: rgb(12, 12, 12);
  padding: 1rem;
  text-align: center;
}

.flexboxItem-right {
  color: rgb(12, 12, 12);
  padding: 1rem;
  text-align: right;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.explain {
	background: #efefef;
	padding: 2rem;
}

.copy {
  color: #b94a48;
  font-weight: bold;
  font-size: 1.8rem;
}

.self {
  color: #428bca;
}

.separator {
  background-color: #f0ad4e;
  padding: 1.5rem 1rem;
  margin: 2rem 0;
}

.smallSeparator {
  background-color: #2980b9;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
}

.indexButton a {
  text-decoration: none;
  color: #0b0b0b;
}

.indexButton a:visited {
  text-decoration: none;
  color: #0b0b0b;
}
