{{!-- template-lint-disable no-bare-strings --}}

<div class="flexboxItem-left"></div>
<div class="flexboxItem-center m-auto">
  <PaperButton>
    <LinkTo @route="player.new">
      New Player
    </LinkTo>
  </PaperButton>
</div>
<div class="flexboxItem-center m-auto">
  <PaperButton>
    <LinkTo @route="/">
      Return to home page
    </LinkTo>
  </PaperButton>
</div>
<div class="flexboxItem-right"></div>
