{{!-- template-lint-disable no-html-comments --}}
<!-- players -->
<div class="flexboxContainer">
  <div class="flexboxItem-left"><h3>X Player: 5</h3></div>
  <div class="flexboxItem-center m-auto"><h4>PLAYER X WINS!</h4></div>
  <div class="flexboxItem-right"><h3>O Player: 4</h3></div>
</div>
<!-- board and form -->
<div class="flexboxContainer">
  <div class="flexboxItem-left"></div>
  <div class="flexboxItem m-auto">
    <section class="board">
      <div class="row0">
          <div class="cell c00">X</div>
          <div class="cell c01">O</div>
          <div class="cell c02"></div>
      </div>
      <div class="row1">
          <div class="cell c10">O</div>
          <div class="cell c11">X</div>
          <div class="cell c12">O</div>
      </div>
      <div class="row2">
          <div class="cell c20">X</div>
          <div class="cell c21">{{xPlayer}}</div>
          <div class="cell c22"><a href="#">X</a></div>
      </div>
    </section>
  </div>
  <div class="flexboxItem-right"></div>
</div>
