<div class="flexboxContainer">
  <div class="flexboxItem-left"><h3>X Player: 5</h3></div>
  <div class="flexboxItem-center m-auto">
    <p>!!! hi player !!!</p>

    <p>!!! this design belongs to board page !!!</p>

    <h4>New Player</h4>
  </div>
  <div class="flexboxItem-right"><h3>O Player: 4</h3></div>
</div>
